p {
    margin: 0;
  }
  
  .at-element-marker {
    list-style: none;
    text-decoration: none;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
  }
  .header-container {
    max-width: ;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Helvetica;
    font-size: 1rem;
  }
  /*notification wrapper*/
  .notification-widget {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
  }
  
  .notification-widget a {
    list-style: none;
    text-decoration: none;
    color: #ffc226;
    text-transform: uppercase;
  }
  .notification-widget p {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .navbar {
    background-color: black;
  }
  
  /*header*/
  .header {
    background: #ffc127;
  }
  .header-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
  }
  
  .branding-logo {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: -1rem;
    margin-bottom: -1rem
  }
  
  .header-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .right {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }
  
  .search-button {
    font-size: 1rem;
    width: 30rem;
    border-radius: 10rem;
  }
  
  .toggle-button {
    margin-left: 40px;
  }
  
  .toggle-button ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  
  .toggle-button li {
    list-style: none;
  }
  
  .toggle-button li a {
    text-decoration: none;
    padding: 0.5rem;
    font-size: 3.5rem;
  }
  
  /* Nav-container-wrapper*/
  .nav-container {
    width: 100%;
    float: left;
    background-color: #222222;
    height: 60px;
    margin: 0;
    padding-right: 50px;
    display: flex;
    font-family: Montserrat;
    line-height: 1.5;
  }
  
  .nav-container-wrapper {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    max-width: 1244px;
    position: relative;
    z-index: 10;
    list-style-position: outside;
    font-family: inherit;
    padding-right: 50px;
  }
  
  #nav {
    float: left;
    padding-left: 0;
    padding-right: 50px;
    width: auto;
  
  }
  
  #nav > li {
    width: auto;
    float: left;
    padding-right: 70px;
    height: 40px;
    border-left: none;
    font-size: 14px;
    color: #ffc226;
    text-align: center;
    list-style-type: none;
  }
  
  #nav > li > a {
    color: #ffc226;
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
    width: 100%;
    display: block;
    height: 100%;
    text-align: left;
    text-decoration: none;
  }
  
  #nav > li > a:hover {
    color: #fff;
  }
  
  .level-top {
    text-decoration: none;
  }
  
  /* SSSS1 */
  
  .first-section-container {
    background-color: #ffc127;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 60px 40px;
  }
  .first-section-content {
    background-color: #ffc127;
  }
  .fifty-split-termcondition a {
    list-style: none;
    text-decoration: none;
  }
  .fifty-split-button button {
    border-radius: 15px;
    padding: 5px 25px;
    font-size: 15px;
  }
  .fifty-split-button button:hover {
    background-color:  #ffc127;
      cursor: pointer;
  }
  
  /* Product-Carousel */
  .carousel-container {
    max-width: 1500px;
    justify-content: center;
    align-items: center;
  }
  .carousel2 {
    background: #ffc226;
  }
  .carousel-product img {
    position: absolute;
    z-index: 0;
    width: 500px;
  }
  .carousel-product img:hover {
    transform: scale(1.05);
  }
  
  .carousel-product {
    width: 66%;
    height: 300px;
    width: 500px;
    margin-right: 10px;
    background: #ffc226;
    border-radius: 5px;
  }
  .carousel-product-info {
    padding-left: 1rem;
    position: absolute;
  }
  .carousel-product-info h3:hover {
    color: #ffc226;
  }
  .carousel-product-promotion {
    font-size: 1.1rem;
    font-family: Roboto;
  }
  .carousel-product-promotion :hover {
    color: #ffc226;
  }
  .carousel-product-info button {
    font-size: 1rem;
    background: #ffc226;
    border-radius: 10px;
    padding: 0.5em;
    cursor: pointer;
  }
  .carousel-product-info button:hover {
    transform: scale(1.1);
  }
  
  /*SECOND-SECTION-CSS*/
  .second-section-content {
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;
    background: #fec226;
    position: relative;
    width: 100%;
    margin-top: -1px;
  }
  .second-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
  }
  .half-img-content {
    max-width: 350px;
    width: 100%;
  }
  .half-text-content {
    max-width: 800px;
    max-height: 800px;
    margin-top: 100px;
  }
  
  .half-text-content h2 {
    font-size: 27px;
    margin-top: 10px;
    font-weight: 1000px;
    max-width: 480px;
    color: #fff;
    text-align: left !important;
    margin-top: 30px;
  }
  
  .half-text-content p {
    margin-bottom: 20px;
    max-width: 700px;
    width: 100%;
    color: #191919;
    font-size: 20px;
    font-weight: 600px;
  }
  
  .half-text-button button {
    font-size: 15px;
    flex-wrap: wrap;
    font-family: "monsterrat";
    font-weight: 700;
    color: black;
    display: flex;
    border-radius: 30px;
    margin-top: 20px;
    padding: 10px 20px;
  }
  
  .half-text-button button:hover {
    background-color: #ffc127;
  }
  /* Pet adopting */
  .pet-adopting {
    width: 100%;
    background-size: cover;
    height: auto;
    position: relative;
    background-image: url(/images/pet-adopt.jpg);
    float: left;
  }
  
  .pet-adopting h3 {
    width: 600px;
    color: #191919;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.8;
    padding-left: 2rem;
    margin-top: 8rem;
    font-family: Montserrat;
  }
  .pet-adopting h1 {
    color: white;
    padding-left: 2rem;
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    font-family: Montserrat;
  }  
  
  /* Carousel */
  .carousel1-container {
    position: relative;
  }

  .carousel {
    background: #ffc226;
    z-index: 0;
  }

  .carousel-cell img {
    position: absolute;
    z-index: 0;
    width: 500px;
  }
  .carousel-cell img:hover {
    transform: scale(1.05);
  }
  
  .carousel-cell {
    width: 66%;
    height: 300px;
    width: 500px;
    margin-right: 10px;
    background: #ffc226;
    border-radius: 5px;
  }

  .pet-info {
    padding-left: 1rem;
    position: absolute;
  }
  .pet-info h3:hover {
    color: #ffc226;
  }
  .pet-info ul {
    list-style-type: none;
    padding: 0;
  }
  .pet-info li {
    font-size: 1.1rem;
    font-family: Roboto;
  }
  .pet-info li:hover {
    color: #ffc226;
  }
  .pet-info button {
    font-size: 1rem;
    background: #ffc226;
    border-radius: 10px;
    padding: 0.5em;
    cursor: pointer;
  }
  .pet-info button:hover {
    transform: scale(1.1);
  }
  
  
  /*ABOUT US*/
  
  .section-4-aboutus {
      background-color: #ffc226;
      font-family: Montserrat;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
  }
  
  .petme-info {
      justify-content: center;
  }

  .petme-info p {
    padding-left: 140px;
    padding-right: 140px;
    font-size: 1.1rem;
  }

  .petme-info h1 {
    padding-top: 10px;
    margin-top: 0;
  }
  
  .about-us {
      max-width: auto;
  }
  
  /*ABOUT THE TEAM*/
  .row {
      margin: auto;
      width: 50%;
      text-align: left;
      justify-content: space-between;
  }
  
  .column {
      float: left;
      width: 33%;
      margin-bottom: 16px;
      padding: 0 8px;
    }
    
    @media screen and (max-width: 400px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .card-container {
      padding: 0 16px;
      background-color: #fff;
    }

    .card-container h2 {
      margin:0 auto;
      padding-top: 10px;
      padding-bottom: 6px;
    }
    
    .card-container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .card-title {
      color: grey;
      padding-bottom: 8px;
      margin-top: -5px;
    }
    
    .button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #191919;
      text-align: center;
      cursor: pointer;
      width: 100%;
      margin: 6px auto;
    }
    
    .button:hover {
      background-color: #555;
    }
  
  /* FOOTER */
  .section-5-footer {
      height: auto;
      background-color: #191919;
      width: 100%;
      position: relative;
      padding-top: 40px;
      padding-bottom: 50px;
      font-family: Helvetica, sans-serif;
      line-height: 1.5;
      float: left;
  }
  
  .footer {
      max-width: 1244px;
      padding: 0;
      margin: auto;
      color: #222;
  }
  
  .footer ul {
      list-style-type: none;
      color: #ccc;
      padding-right: 10px;
      margin: 0;
      float: left;
      font-size: 14px;
      line-height: 28px;
  }

  .footer a {
      text-transform: none;
      text-decoration: none;
      color:#ccc;
  }

  .footer a:hover {
      color:#fec226
  }
  
  .shopping-online {
      height:auto;
      padding-left: 20px;
  }
  
  .footer-title {
      color: #fff;
      font-family: Montserrat;
      line-height: 16px;
      margin-bottom: 25px;
  }
  
  .our-partners {
      padding-left: 40px;
      height: auto;
  }
  
  .footer-others {
      padding-left: 40px;
      height: auto;
  }
  
  #need-help {
      color: #191919;
  }
  
  .footer-contact-content {
      background-color: #ffc226;
      padding-right: 40px !important;
      margin-top: 40px;
      position: relative;
      margin-left: 70px !important;

  }
  
  .phone-icon img {
      width: 30px;
      max-width: 100%;
      display: inline-block;
      position: relative;
  }
  
  .phone-info {
      margin-left: 20px;
      display: inline-block;
  }
  
  .call {
      position: relative;
      display: flex;
  }
  
  .email {
      position: relative;
      display: flex;
  }
  
  .footer-contact p {
      color: #191919;
      font-size: 14px;
      margin: 0px;
  }
  
  .footer-contact span {
      font-weight: bold;
      color: #191919;
      font-size: 14px;
      display: inline-block;
  }
  
  .contact-note {
      margin-bottom: 15px;
  }
  
  .contact-note p {
      font-family: Montserrat;
      font-size: 11px;
      line-height: 22px;
  }
  
  /*ICONS*/
  .social-wrapper {
      text-align: center;
  }
  
  .social-wrapper ul li {
      display: inline;
      margin: 0 5px;
  }
  
  .twitter-icon,
  .facebook-icon,
  .instagram-icon,
  .linkedin-icon,
  .youtube-icon{
      margin-top: .625em;
      width: 40px;
      height: 40px;
      opacity: .6;
      border-radius: 25px;
  }
  
  .twitter-icon:hover,
  .facebook-icon:hover,
  .instagram-icon:hover,
  .linkedin-icon:hover,
  .youtube-icon:hover {
      opacity: 1.0;
  }
